body {
    font-family: Arial;
    background:  #f4f4f4;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 500px;
    
    background: #fff;
    padding: 32px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-area{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

/* ボタン */
button {
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    background: #297193;
    color: white;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 8px;
  margin-bottom: 8px;
}
.delete-btn {
  font-size: 12px;
  padding: 6px 10px;
  background: #297193;
}



